{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>noBSnews</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/articles_css/article4.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<h2>no<span>BS</span>news</h2>
		</div>

		<ul class="navbar">
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Suggest</a></li>
		</ul>
	</header>

	<section class="main_content_container">
		<div class="left_container"></div>
		<div class="main">
			<div class="img_container">
				<img src="{% static 'imgs/aizen.jpg' %}" class="img">
			</div>
			<div class="content_container">
				<h1>The art of jumping a nigga in anime</h1>

				<p>
					Ay ay ay was good people and welcome back to yet another one written as always by yours truly. And today is kinda of a special edition seeing as how we are not covering a single character but rather a very important topic in the world of anime today. Which is jumping a nigga. Long gone are the day's where characters could run the 1's 1v1, nah these day's they just jump the shit outa your ass. As always imma give you the truth and nothing but the truth. No BS and with that outa the way we can move on with today's segment.
				</p>
				<br>
				<p>
					So before we continue, we first have to understand what jumping a nigga really is. According to yours truly, this is when 2 or more character's pull up to run the hand's with 1 character. This usually occur's when the person they are jumping is just that strong. But you know, in a kinda messed up way, being jumped is a great honour for you as a character. It cement's you as being about that life. And this concept has taken over a lot of anime coz these day's all the anime i watch, there is no longer settling a problem 1v1. Nah fam, these day's they just jump the shit outa your ass. But thses jumping's can and tend to go wrong if not done properly. And since my title was kinda vague and not really specific whether i'm talking about anime jumpings that worked or did not. So imma be covering both. I just felt i had to point it out before you think i don't know where i'm going with this. I don't, but i said i first.
				</p>
				<br>
				<p>
					So to start it off we are going to begin with the GIGA NIGGA 9000, BROLY. And i mean just look at this man. He obviously looks like the type you don't wanna run the hand's with 1v1 and that is the case. Now we are going to start with the OG broly from the movie DBZ: LEGENDARY SUPER SAIYAN. And yeah guy's this one is one of those times where jumping him didn't go so well for our main cast. They were 4 of them and only 1 of him and they still couldn't jump this man. Like my man CJ once said, anytime you see a 4 on 1 someone is getting jumped, but broly really hit em with that uno reverse card. He jumped all 4 of them by himself. Giving zero fucks in the process. Just look at this nigga just stand there and weaving goku's attacks, WHILE FOLDING HIS ARM'S. The man ain't even trying!! Not only that, this man turned vegeta into a BITCH! VEGETA! Not krillen, not piccollo or even gohan. Nah VEGETA. Man didn't even wanna fight broly no more.
				</p>
				<br>
				<p>
					How many people you know can make vegeta do such a thing. Bruh piccolo really had to give vegeta the talk no jutsu so that they could all jump broly together. Yeahhh, that didn't end so well for him and this is where we get this iconic scene. But this man ain't even done yet, HE WALKED RIGHT THROUGH GOKU'S KAMEHAMEHA. He didn't even bother himself to raise his hand to block or even block with an attack of his own. He just walked it off. Literally and figuratively.And obviously plot had to kick in and that's how they defeated him. But this is one of those moment's where jumping the nigga really did not work out so well for them. Bruv 4 super saiyans and a namekian still couldn't do shit to the 1 man. Yeah this is clearly a case when trying to jump didn't end so well for them and our boi plot armor had to kick in real quick. Next up is even more DRAGON BALL and even more from THE GIGA NIGGA 9000 but this time from DBS: BROLY movie.
				</p>
				<br>
				<p>
					I should have probably just changed this to FAILED JUMPINGS: BROLY EDITION. But hey maybe next time but for now we are here for this nigga. Yeah the DBS version doesn't look as scary as the Z version or even have the same level of savagerey as his Z counter part but he has his moments and that is why we are here. Now this broly who has no sort of formal training is the same nigga who was boxing both goku and vegeta in their post TOP forms. And you know i should actually write something about these god forms being totally useless. Like bruh, anyone who's anyone can match these forms. I won't be suprised if all of a sudden from outa nowhere that krillen is also SSB level. But that's not the point, we here about broly being an absolute demon. Look at this man completely ragdoll SSG goku. The same SSG that could destroy the universe, is now broly's personal mop.
				</p>
				<br>
				<p>
					And now when me and the boy's where watching this we were like it's cool coz we knew goku was still holding back and he still had SSB. He pull's out blue after this crazy ass screaming montage and i'm like "yeah broly bout to get jumped. This gon be some EZ work for my boi goku right?" Wrong! He still got jumped! In the worst part is, broly was still in his BASE FORM. These nigga's best stop training broly in beerus's world coz if he get's those god forms, y'all are fucked. ON BEERUS! Now obviously 1v1 was not working and both goku and vegeta(in SSB) try jumping broly. Broly was not having non of that shit at all. This man jumped both SSB goku and vegeta at the same time. By himself. And this version of goku and vegeta are the one's after the TOP and Jiren and broly still jumped them. Look at this man just tank both a kamehameha and a galick gun. But at least this new version of broly made his predecessor proud, he made goku and vegeta run away.
				</p>
				<br>
				<p>
					And we get the classic of broly beatin the absolute breaks off of frieza for an hour straight. These nigga's really had to fuse and go SSB on top of that just to not get dog walked by broly. But TBH, Gogeta was a badass in this movie. No talking, no explaining just straight hand's. This man gogeta really wanted to kill broly IN HIS OWN MOVIE. Obviously plot kicked in, broly was the MC, he could not just die like that. But no matter how many times they can remake our boi broly, there is always one thing that remain's constant with broly. HE IS HIM!! HE IS BUILT LIKE THAT. HE IS ABOUT THAT LIFE. It don't matter whether you like the old broly or the new broly, we all can agree that broly is simply built like that.
				</p>
				<br>
				<p>
					Yep that is all i got for you for today's segment. As always remember to signup and share to get more like this and so that other people are infromed of the news but with non of the BS. Thank's for joing me on today's adventure and imma see you next time on dragon ball super. Nope sorry wrong outro, imma check y'all on the next 1. :) 
				</p>
			</div>
		</div>
		<div class="right_container"></div>
	</section>

	<footer>
		This is the footer for now
	</footer>
</body>
</html>